/*-------------
    COMMONS
-------------*/
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1000px;
    margin: auto;
}

/*----------
    MAIN
----------*/
main {
    height: 100vh;
}
